/* text styling */
body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

div.subsection {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}

div.paragraph {
    margin-left: 1%;
    margin-right: 2%;
    text-align: justify;
}

/* div spacing */
.flex-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

#pie-chart {
    flex: 1;
    align-self: center;
}

#scatterplot {
    flex: 2;
    align-self: center;
}

/* map styling and interactivity */
.state {
    /*opacity: 80%;*/
}

.state:hover {
    /* stroke: black !important;*/
    /* stroke-width: 3 !important;*/
    /*opacity: 100% !important;*/
}

/* scatter plot styling and interactivity */
.point {
    fill: royalblue;
    stroke: none;
    opacity: 60%;
}

.point:hover {
    /* opacity: 100% !important; */
    stroke: black;
    stroke-width: 3;
}

/* tooltip styling */
.tooltip {
  position: absolute;
  background-color: lightgray;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}