/* text styling */
body {
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

body {
    margin-left: 15%;
    margin-right: 15%;
}

div.subsection {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}

div.paragraph {
    margin-left: 1%;
    margin-right: 2%;
    text-align: justify;
}

#about-scatter {
    width: 400px;
}

.button {
    font-size: 18px;
}

/* div spacing */
.flex-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

#pie-chart {
    flex: 1;
    align-self: center;
}

#scatterplot {
    flex: 1;
    align-self: center;
}

/* map styling and interactivity */
.state {
    /*opacity: 80%;*/
}

.state:hover {
    /* stroke: black !important;*/
    /* stroke-width: 3 !important;*/
    /*opacity: 100% !important;*/
}

/* scatter plot styling and interactivity */
.point {
    fill: royalblue;
    stroke: none;
    opacity: 50%;
}

.point:hover {
    /* opacity: 100% !important; */
    stroke: black;
    stroke-width: 3;
}

/* tooltip styling */
.tooltip {
  position: absolute;
  background-color: lightgray;
  border: solid;
  border-width: 1.5px;
  border-radius: 3px;
  padding: 5px;
}

/* visualization text styling */
.legend-text {
    font-size: 16px;
}

.title-text {
    font-size: 18px;
}

/* scatter plot/state selection styling */
.selected {
    fill: mediumpurple;
    stroke: black;
    stroke-width: 3;
    opacity: 80% !important;
}

#scatter-tooltip {
    background-color: lightgray;
    border: solid;
    border-width: 1.5px;
    border-radius: 3px;
    padding: 5px;
}